{% extends 'dashboard.html' %}
{% block content %}
{% load tz %}

<style>
    .content {
        margin-top: 20px;
    }

    .card {
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .card-header {
        background-color: #fff;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-category {
        font-size: 14px;
        color: #999;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .btn {
        display: inline-block;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header">
                        <h4 class="card-title">User details </h4>
                        <hr>
                        <!--  -->

                        <h5>First Name: {{user.first_name}}</h5>
                        <h5>Last Name: {{user.last_name}}</h5>

                        <h5>Email: {{user.email}}</h5>
                        <h5>Account Number: {{user.account_number}}</h5>
                        <h5>Balance: {{user.balance}}</h5>
                        <h5>Created: {{user.date_joined|timezone:"Asia/Dhaka"}}</h5>
                        {% if user.is_active %}
                        <h5>Status: Active</h5>
                        {% else %}
                        <h5>Status: Inactive</h5>
                        {% endif %}
                        {% if user.date_updated %}
                        <h5>Updated: {{user.date_updated|timezone:"Asia/Dhaka"}}</h5>
                        {% endif %}
                        <h5>Actions: <a href="{% url 'edit_user' user.id %}" class="btn btn-warning btn-sm">Edit</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
