{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-In</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    {% include 'includes/message.html' %}
    <section class="wrapper">
      <div class="content">
        <header>
          <h1>NORTHERN BANK</h1>
          <p>Login to your account</p>
        </header>
        <section>
          <form method="POST" class="login-form">
            {% csrf_token %}
            <div class="input-group">
              <label for="username">Username or Phone</label>
              <input
                type="text"
                placeholder="Username or Phone"
                name="username"
              />
            </div>
            <div class="input-group">
              <label for="password">Password</label>
              <input type="password" placeholder="Password" name="password" />
            </div>
            <div class="input-group"><button type="submit">Login</button></div>
            
            <p class="">Note: If you are a customer, you will be redirected to the  <a href="{% url 'customer_dashboard' %}">Customer Portal</a> after logging in. If you are an administrator, you will be redirected to the <a href="{% url 'dashboard' %}">Dashboard</a>. 
            <p class="message">Don't have an account? <a href="{% url 'create_customer' %}">Open account here</a></p>
          </p>
        </form>
        </section>
        
      </div>
    </section>
    <script>
      //  Message section
      const message = document.querySelector(".message");
      if (message) {
        setTimeout(() => {
          message.classList.add("message-hide");
        }, 5000);
      }
    </script>
  </body>
</html>